/** 

This is a partial.
It lies in <source>/_sass, just waiting to be imported.
It does not contain the YAML front matter and has no corresponding output file in the built site. 

*/

// WILDFLY color palette

$red: #DE5C49;
$orange: #E37B40;
$yellow: #FFEF9F;
$blue: #324D5C;
$teal: #46B29D;

$dark-red: #85372C;
$dark-orange: #85372C;
$dark-yellow: #90792E;
$dark-blue: #1E2E37;
$dark-teal: #2A6B5E;

// Basic colors
$black : #000000;
$white : #FFFFFF;

//Grayscale
$gray-1 : #AAAAAA;
$gray-2 : #555555;
$gray-3 : #333333;
$gray-4 : #222222;


// Alternative spelling
$grey-1 : #AAAAAA;
$grey-2 : #555555;
$grey-3 : #333333;
$grey-4 : #222222;
