// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

@import "colors";
@import url('https://fonts.googleapis.com/css?family=PT+Mono|Titillium+Web:200,400,700');

html,
body {
  font-size: 100%;
  font-weight: 100;
  background-color: $dark-blue;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  color: $white;
  line-height: 1rem;
}

div.content {
  padding: 0 13rem;
  @media screen and (max-width: 1170px) { padding: 0 6rem; }
  @media screen and (max-width: 480px) { padding: 0 2rem; }
}

.hide {
  &-tablet {
    @media screen and (max-width: 768px) { display: none; }
  }
  &-mobile {
    @media screen and (max-width: 480px) { display: none; }
  }
}

.tablet-fullwidth {
  @media screen and (max-width: 768px) {
    margin-left: -6rem !important;
    margin-right: -6rem !important;
  } 
  @media screen and (max-width: 480px) {
    margin-left: -2rem !important;
    margin-right: -2rem !important;
  }
}

.mobile-fullwidth {
  @media screen and (max-width: 480px) {
    margin-left: -2rem !important;
    margin-right: -2rem !important;
  }
}

h1,h2,h3,h4,h5,h6,p {
  color: $white;
  margin: 2rem 0;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 200;
  @media screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 3rem;    
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 100;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2rem;    
  }
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1rem;    
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: .75rem;
    line-height: .75rem;    
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 100;
  &.light {
    color: $white;
  }
}

p.byline {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

a {
  line-height: 1.5rem;
  font-weight: 400;
  color: $yellow;
  cursor: pointer;
  strong { color: $yellow; }
  &.light-background{ color: $teal; }
}

a.button-cta {
  text-align: center;
  color: $dark-blue;
  background-color: $yellow;
  border: 2px solid $yellow;
  text-transform: uppercase;
  text-decoration: none;
  margin: .5rem;
  padding: 12px 40px;
  white-space: nowrap;
  line-height: 3.5;
  transition: background .2s ease-in 0s;
  &:hover, &:active, &:focus {
    background-color: $dark-yellow;
    border-color: $dark-yellow;
    color: $yellow;
  }
  @media screen and (max-width: 768px) {
    line-height: 1.5;
  }
}

a.button-cta.secondary {
  background: none;
  border: 2px solid $yellow;
  color: $yellow;
  &:hover, &:active, &:focus {
    background-color: $dark-yellow;
    border-color: $dark-yellow;
    color: $yellow;
  }
}

.hljs {
  color: $black;
  background: $yellow;
}

code {
  font-family: "PT Mono",monospace;
  background-color: $yellow;
  color: $black;
  overflow: auto;
  padding: 0 2px;
  border-radius: 4px;
  max-width:1000px
}


pre {
  padding: .5rem 1rem;
}

hr {
  border-width: 2px;
  margin: 6rem 0 4rem 0;
}

img { max-width: 100%; }

.logo-wrapper {
  display: inline-block;
  max-width: 13.5rem;
  padding-top: 1rem;
}
.wf-logo {
  width: 100%;
}

.sec-title-teal h2 {
  background-color: $teal;
  color: $white;
  padding: 1rem;
}
.sec-title-yellow h2 {
  background-color: $yellow;
  color: $blue;
  padding: 1rem;
}
.sec-title-red h2 {
  background-color: $red;
  color: $white;
  padding: 1rem;
}
.sec-title-bluw h2 {
  background-color: $blue;
  color: $white;
  padding: 1rem;
}

table {
  border-spacing: 1px;

  thead th, tbody td {
    padding: .5rem 1rem;
  }

  thead th {
    background-color: $teal;
    color: $white;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: left;
  }
  tbody tr {
    &:nth-child(even) {
      background-color: $blue;
    }
    td p {
       margin: 0;
    }
  }
}

.admonitionblock.note, .note {
  tbody .icon {
    background-color: $teal;
  }
  tbody .content {
    background-color: $blue;
  }
}

.admonitionblock.warning, .warning {
  tbody .icon {
    background-color: $orange;
  }
  tbody .content {
    background-color: $blue;
  }
}

.listingblock,
.literalblock,
.imageblock,
.tableblock  {
  .content {
    padding: 0;
  }
}

.listingblock {
    max-width: 1000px;
}

.paginator-btns a {
  margin: 1rem 0;
  &:first-of-type {
    margin-right: calc(100% - 372px);
  }
  @media screen and (max-width: 768px) {
    display: block;
    width: 100%;
  }
}

.toc #toctitle {
  visibility: hidden;
}

.toc {
  opacity: 0.8;
  background-color: $dark-blue;
  border-radius: 4px;
  max-width:1000px
}
