---
layout: base
---

{% assign my_variable = false %}


<div class="post-page grid-wrapper">
  <div class="grid__item width-10-12">
    <h1 class="title">
      {% if page.stability-level != "default" %}
      [{{ page.stability-level }}]&nbsp;
      {% endif %}
      {{page.title}}
    </h1>
  <div class="grid__item width-10-12 doc-content">

    {% unless pages.categories == empty %}
    <div style="padding-bottom: 2em;">In&nbsp;
    {% for cat in page.categories %}
    <a href="{{ site.baseurl}}/#{{ cat }}">{{ cat }}</a>
    {% endfor %}
    </div>
    {% endunless %}
    <div style="padding-bottom: 2em;">Tracked by&nbsp;
      <a href="{{ page.issue }}">{{ page.issue }}</a>
    </div>

    {{ content }}
  </div>
</div>

